# Java class files
*.class

# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# SVN files
.svn/

.DS_Store/
/target

/target
/target/
**/target/

.DS_Store

# self-defining files
log4j2Logs/
logbackLogs/
output/
/bes.**
