<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyin.fyzg.wyy.mapper.genPage.SysGenpageCollectInfoMapper">

    <resultMap id="BaseResultMap" type="com.joyin.fyzg.wyy.entity.genPage.SysGenpageCollectInfo">
            <id property="id" column="ID" jdbcType="DECIMAL"/>
            <result property="collectDesp" column="COLLECT_DESP" jdbcType="VARCHAR"/>
            <result property="collectSql" column="COLLECT_SQL" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,COLLECT_DESP,COLLECT_SQL,
        CREATE_TIME,UPDATE_TIME
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from SYS_GENPAGE_COLLECT_INFO
        where  ID = #{id,jdbcType=DECIMAL} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from SYS_GENPAGE_COLLECT_INFO
        where  ID = #{id,jdbcType=DECIMAL} 
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.joyin.fyzg.wyy.entity.genPage.SysGenpageCollectInfo" useGeneratedKeys="true">
        insert into SYS_GENPAGE_COLLECT_INFO
        ( COLLECT_DESP,COLLECT_SQL
        ,CREATE_TIME,UPDATE_TIME)
        values (#{collectDesp,jdbcType=VARCHAR},#{collectSql,jdbcType=VARCHAR}
        ,#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.joyin.fyzg.wyy.entity.genPage.SysGenpageCollectInfo" useGeneratedKeys="true">
        insert into SYS_GENPAGE_COLLECT_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">ID,</if>
                <if test="collectDesp != null">COLLECT_DESP,</if>
                <if test="collectSql != null">COLLECT_SQL,</if>
                <if test="createTime != null">CREATE_TIME,</if>
                <if test="updateTime != null">UPDATE_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=DECIMAL},</if>
                <if test="collectDesp != null">#{collectDesp,jdbcType=VARCHAR},</if>
                <if test="collectSql != null">#{collectSql,jdbcType=VARCHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.joyin.fyzg.wyy.entity.genPage.SysGenpageCollectInfo">
        update SYS_GENPAGE_COLLECT_INFO
        <set>
                <if test="collectDesp != null">
                    COLLECT_DESP = #{collectDesp,jdbcType=VARCHAR},
                </if>
                <if test="collectSql != null">
                    COLLECT_SQL = #{collectSql,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   ID = #{id,jdbcType=DECIMAL} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.joyin.fyzg.wyy.entity.genPage.SysGenpageCollectInfo">
        update SYS_GENPAGE_COLLECT_INFO
        set 
            COLLECT_DESP =  #{collectDesp,jdbcType=VARCHAR},
            COLLECT_SQL =  #{collectSql,jdbcType=VARCHAR},
            CREATE_TIME =  #{createTime,jdbcType=TIMESTAMP},
            UPDATE_TIME =  #{updateTime,jdbcType=TIMESTAMP}
        where   ID = #{id,jdbcType=DECIMAL} 
    </update>

    <select id="executeSql" parameterType="java.lang.String" resultType="java.lang.String">
       ${sql,jdbcType=VARCHAR}
    </select>
</mapper>
