<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度，%logger：全包名输出，%msg：日志消息，%n是换行符-->
    <!--    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger &#45;&#45; "/>-->

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <!--格式化输出：%d表示日期，%-5level：日志级别从左显示5个字符宽度(%5p),%thread表示线程名(%t),
    %logger:%L 类的全路径及行号(%c:%L),%msg：日志消息，%n是换行符-->
    <property name="CONSOLE_LOG_PATTERN" value="[TRACEID:%X{TRACE_ID}] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger:%L >>> " />

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_PATH" value="logbackLogs"/>

    <!-- 日志文件最大的大小 -->
    <property name="MAX_FILE_SIZE" value="30MB"/>
    <!-- 日志文件保留天数 -->
    <property name="MAX_HISTORY" value="15"/>
	
	<property name="componentCode" value="joyin"/>

    <!-- 自定义日志规范 -->
    <conversionRule conversionWord="m" converterClass="com.joyin.fyzg.config.logback.pattern.ComplexMessageConverter"/>

    <!-- 控制台输出 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.joyin.fyzg.config.logback.encoder.CommonPatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
    </appender>

    <appender name="Execute" class="com.joyin.fyzg.config.logback.appender.CommonRollingFileAppender">
        <file>${LOG_PATH}/${componentCode}.execute.log.%d{yyyyMMdd}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM}/${componentCode}.execute.log.%d{yyyyMMdd}.%i.gz</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>${MAX_FILE_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="com.joyin.fyzg.config.logback.encoder.CommonPatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <!-- ***************************************日志按级别切分 begin *************************************** -->

    <appender name="RollingFileWarn" class="com.joyin.fyzg.config.logback.appender.CommonRollingFileAppender">
        <file>${LOG_PATH}/${componentCode}.warn.log.%d{yyyyMMdd}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM}/${componentCode}.warn.log.%d{yyyyMMdd}.%i.gz</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>${MAX_FILE_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="com.joyin.fyzg.config.logback.encoder.CommonPatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <!-- 过滤器，只记录WARN级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>warn</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="RollingFileError" class="com.joyin.fyzg.config.logback.appender.CommonRollingFileAppender">
        <file>${LOG_PATH}/${componentCode}.err.log.%d{yyyyMMdd}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM}/${componentCode}.err.log.%d{yyyyMMdd}.%i.gz</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
            <!--日志文件最大的大小-->
            <MaxFileSize>${MAX_FILE_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="com.joyin.fyzg.config.logback.encoder.CommonPatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <!-- 过滤器，只记录ERROR级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- ***************************************日志按级别切分 end *************************************** -->

    <!-- 日志输出级别 -->
    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="Execute"/>
        <appender-ref ref="RollingFileWarn"/>
        <appender-ref ref="RollingFileError"/>
    </root>
</configuration>