<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joyin.fyzg.wyy.mapper.common.SysParamConfigMapper">

    <!-- 根据类型查询所有启用的配置 -->
    <select id="findAllEnabledByType" resultType="com.joyin.fyzg.wyy.entity.common.SysParamConfigDO">
        SELECT *
        FROM sys_param_config
        WHERE status = '1' and type = #{type}
    </select>

    <!-- 按 param_key 查询配置 -->
    <select id="findByKey" parameterType="string" resultType="com.joyin.fyzg.wyy.entity.common.SysParamConfigDO">
        SELECT *
        FROM sys_param_config
        WHERE status = '1' and param_key = #{paramKey}
    </select>

</mapper>